<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<div layout:fragment="content">

	<div class="my-3 p-3 bg-white rounded shadow-sm">
		<h6 class="border-bottom border-gray pb-2 mb-0">Category/&nbsp;Questions</h6>

		<div class="media text-muted pt-3"
			th:if="not ${questionsMap.isEmpty()}"
			th:each="questionMap : ${questionsMap}">


			<div
				class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
				<div th:remove="tag" th:utext="${questionMap.value}"></div>
			</div>
		</div>

		<div class="media text-muted pt-3" th:if="${questionsMap.isEmpty()}">
			<div
				class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"
				align="center">
				<span class="d-block"><strong class="text-gray-dark">No
						Questions Found</strong></span>
			</div>
		</div>

		<div class="col-sm text-center">
			<button id="btnNext" type="button" class="btn btn-primary">Next</button>

		</div>

	</div>


	<div class="modal fade" id="questionAnswerModal" tabindex="-1"
		role="dialog" aria-labelledby="questionAnswerModalLabel">

		<div class="modal-dialog" role="document">

			<div class="modal-content">

				<div class="modal-header">

					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">

						<span aria-hidden="true">&times;</span>

					</button>

					<!-- 					<h4 class="modal-title" id="questionAnswerModalLabel"
						th:text="#{note.newNote}">New Note</h4>
 -->
				</div>

				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="email" class="control-label" th:text="email">Email</label>
							<input type="text" class="form-control" id="email" />
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						th:text="close">Close</button>
					<button id="btnSave" type="button" class="btn btn-primary"
						th:text="save">Save</button>
				</div>
			</div>
		</div>
	</div>





</div>

<script layout:fragment="script">
	$(document).ready(function() {
		
		var questionAnswerModal = $("#questionAnswerModal");
		
		

		function allChildQuestionsAnswered(){
			allRangesAnswered = true;
			$('input[type="number"]').each(function() {
				if($(this).val().toString() == "" || $(this).val().toString() == 'undefined'){
					allRangesAnswered = false;
					return false;
				}
			 });
			return allRangesAnswered;
		}
		
		function allMainQuestionAnswered(){
			var names = {};
			$('input:radio').each(function() { // find unique names
			      names[$(this).attr('name')] = true;
			});
			var count = 0;
			$.each(names, function() { // then count them
			      count++;
			});
			return ($('input:radio:checked').length == count);
		}
		
		function allQuestionsAnswered(){
			return allMainQuestionAnswered() && allChildQuestionsAnswered();
		}
		
		
		function showQuestionAnswerModalModal(){
			questionAnswerModal.modal('show');
			
			//if(allQuestionsAnswered()){
				//questionAnswerModal.modal('show');	  
			//}else{
				//alert("Please answer all the questions with the ranges!");
			//}
		}
		
		
		function saveAnswers() {
			var email = $("#email");
			var choices = {};
			$('input[type="radio"]:checked').each(function() {
				choices[$(this).attr('name')] = $(this).val();
			  });
			
			
			
			$('input[type="number"]').each(function() {
				choices[$(this).attr('name')] = $(this).val().toString();
			  });
			
			
			var user = {
					'email':email.val(),	
					'choices':choices
				};
			$.ajax({
				type : "POST",
				url : "/answers",
				data : JSON.stringify(user),
				contentType : "application/json",
				success : function(user) {
					$("input:radio").prop("checked", false),
					questionAnswerModal.modal('hide')
					
					noty({
			            text: "Your answers was successfully saved!",
			            layout: 'top',
			            type: 'success',
			            timeout: 5000
			        });
				},
				error(error) {
					noty({
			            text: "Application has encountered an error. Please contact your support",
			            layout: 'top',
			            type: 'error',
			            timeout: 5000
			        });
				}
			});
		}

		
		$('input[type="radio"]').on('change', function(e) {
		    questionId = e.currentTarget.name;
		    parentConditionValueWithChildQuestionId = $('#parent-condition-'+questionId);

		    if(parentConditionValueWithChildQuestionId != null && parentConditionValueWithChildQuestionId!= 'undefined'){
		    	if(parentConditionValueWithChildQuestionId.val() != null && parentConditionValueWithChildQuestionId.val() != 'undefined'){
		    		parentConditionValueWithChildQuestionIdSplitter = parentConditionValueWithChildQuestionId.val().split(',');
		    		parentConditionValue = parentConditionValueWithChildQuestionIdSplitter[0];
		    		childQuestionId = parentConditionValueWithChildQuestionIdSplitter[1];
		    	
		    		if(parentConditionValue == e.currentTarget.value){
		    			$('#question-'+childQuestionId).show();
		    		}else{
		    			$('#question-'+childQuestionId).hide();
		    		}
		    	}
		    }
		})
		
		$('#btnNext').on("click", showQuestionAnswerModalModal);
		$('#btnSave').on("click", saveAnswers);
		
	})
</script>